<div align="center">
  <h4>Add New Contract</h4>
  <form (ngSubmit)="AddContract(contract);addContractForm.reset()" #addContractForm="ngForm">
    <div class="col-md-12 form-group">
      <label for="contractName">Contract Name:</label>
      <input type="text"
             [(ngModel)]="contract.contractName"
             #contractName="ngModel"
             class="form-control"
             name="contractName"
             id="contractName"
             required/>
    </div>
    <div class="col-md-12 form-group">
      <label for="price">Price:</label>
      <input type="number"
             [(ngModel)]="contract.price"
             #price="ngModel"
             class="form-control"
             name="price"
             id="price"
             required/>
    </div>
    <div class="col-md-6 form-group">
      <label for="startDate">Start Date:</label>
      <div class='input-group date'
           id='startDate'>
        <input type='text' class="form-control"
               [(ngModel)]="contract.startDate"
               #startDate="ngModel"
               name="startDate"
        />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label for="endDate">End Date:</label>
      <div class='input-group date'
           id='endDate'>
        <input type='text' class="form-control"
               [(ngModel)]="contract.endDate"
               #endDate="ngModel"
               name="endDate"
        />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="col-md-12 form-group">
      <label for="conditions">Conditions:</label>
      <textarea class="form-control"
                [(ngModel)]="contract.conditions"
                #conditions="ngModel" name="conditions"
                id="conditions"
      ></textarea>
    </div>

    <button type="submit" [disabled]="!addContractForm.form.valid" class="btn btn-success btn-block">Submit</button>
  </form>
</div>
