<div class="col-md-6">
  <h4>Contract Details</h4>
  <div *ngIf="contract">
    <h3>{{contract.contractName}}</h3>
    <p>Start Date: {{contract.startDate | date : 'mediumDate'}}</p>
    <p>End Date: {{contract.endDate | date : 'mediumDate'}}</p>
    <p>Price: {{contract.price}}</p>
    <p>Version No.: {{contract.version || "1"}}</p>
    <p>Conditions: {{contract.conditions}}</p>
    <button (click)="goBack()" type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Go Back
    </button>
  </div>
</div>

<div class="col-md-6">
  <h4>Old Contract versions</h4>
  <ul>
    <li *ngFor="let contract of oldContractVersions">
      <a [routerLink]="['/contract', contract._id]" title="Click to Open {{contract.contractName}}">Version :
        {{contract.createdAt | date : 'medium'}}</a>
    </li>
  </ul>
</div>
