<div class="container">

  <div class="starter-template">
    <h1>Contract Management System by <b>Sami</b></h1>
    <hr>
    <h2 *ngIf="contracts.length > 0">Latest Contracts from last 3 days</h2>
    <h2 *ngIf="contracts.length === 0">No contract in DB, please add a new one</h2>

    <div class="latestTodos">
      <div class="row">
        <!-- Boxes  -->
        <div *ngFor="let contract of contracts" class="col-xs-12 col-sm-6 col-lg-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-tasks"></i></div>
              <div class="info">
                <h3 class="title">{{contract.contractName}}</h3>
                <p>Last updated : {{contract.createdAt | date:'medium'}}</p>

                <div class="more">
                  <a [routerLink]="['/contract', contract._id]" title="Click to Open {{contract.name}}">
                    Read More <i class="fa fa-angle-double-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
