<div *ngIf="contracts.length > 0" class="TodoListBox">
  <h2 align="center">Your Contracts List</h2>
  <table id="mytable" class="table table-bordred table-striped">

    <thead>
    <th>Contract Name</th>
    <th>Price</th>
    <th>Last Updated</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>View</th>
    <th>Edit</th>
    </thead>
    <tbody>

    <tr *ngFor="let contract of contracts">
      <td>{{contract.contractName}}</td>
      <td>{{contract.price}}</td>
      <td>{{contract.createdAt | date : 'medium'}}</td>
      <td>{{contract.startDate | date:'mediumDate'}}</td>
      <td>{{contract.endDate | date:'mediumDate'}}</td>
      <td><a [routerLink]="['/contract', contract._id]" title="Click to Open {{contract.contractName}}">View</a></td>
      <td>
        <p data-placement="top" data-toggle="tooltip" title="Edit">
          <button class="btn btn-primary btn-xs" (click)="showUpdateContract(contract)" data-title="Edit" data-toggle="modal"
                  data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
        </p>
      </td>
    </tr>

    <tr>
    </tbody>
  </table>
  <!-- Edit Modal -->
  <div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Contract</h4>
        </div>
        <div class="modal-body">
          <div align="center" class="EditTodoBox">
            <form (ngSubmit)="UpdateContract(contractToEdit);updateContractForm.reset()" #updateContractForm="ngForm">
              <div class="col-md-12 form-group">
                <label for="contractName">Contract Name:</label>
                <input type="text"
                       [(ngModel)]="contractToEdit.contractName"
                       #contractName="ngModel"
                       class="form-control"
                       name="contractName"
                       id="contractName"
                       required/>
              </div>
              <div class="col-md-12 form-group">
                <label for="price">Price:</label>
                <input type="number"
                       [(ngModel)]="contractToEdit.price"
                       #price="ngModel"
                       class="form-control"
                       name="price"
                       id="price"
                       required/>
              </div>
              <div class="col-md-6 form-group">
                <label for="startDate">Start Date:</label>
                <div class='input-group date'
                     id='startDate'>
                  <input type='text'
                         class="form-control"
                         [(ngModel)]="contractToEdit.startDate"
                         #startDate="ngModel"
                         name="startDate"
                  />
                  <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <label for="endDate">End Date:</label>
                <div class='input-group date'
                     id='endDate'>
                  <input type='text'
                         class="form-control"
                         [(ngModel)]="contractToEdit.endDate"
                         #endDate="ngModel"
                         name="endDate"
                  />
                  <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
                </div>
              </div>
              <div class="col-md-12 form-group">
                <label for="conditions">Conditions:</label>
                <textarea class="form-control"
                          [(ngModel)]="contractToEdit.conditions"
                          #conditions="ngModel" name="conditions"
                          id="conditions"
                ></textarea>
              </div>

              <button type="submit" [disabled]="!updateContractForm.form.valid" class="btn btn-success btn-block">Submit</button>
            </form>
            <div style="margin:10px;" *ngIf="apiMessage" align="center" class="alert alert-success" role="alert">
              <strong>{{apiMessage}}</strong>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="contracts.length <= 0">
  <div align="center" class="alert alert-info" role="alert">
    <strong>No Contracts Available</strong>
  </div>
</div>
